* {
    font-family: Tahoma, sans-serif;
    
}

.body{
    background-color: burlywood;
}

.header {
    color: maroon;
&__title{

}
&__form{

}
&__input{

}
&__button{
    cursor: pointer;
    &:hover {
        background-color: gray;
        border-color: brown;
    }
}
}
.main{
    color: brown;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    

}
.favorites{
    &__titleFav{
min-width: 200px;
border: palevioletred solid;
    }
    &__containerFav{
        background-color:palevioletred;
width: 40vw;


    }

}
.searchSeries{
&__containerSeries{
    background-color:cadetblue;
    width: 60vw;
    
}
&__titleSearch{
    min-width: 400px;
    border: cornflowerblue solid;
 
}
}
.js-selected{
    background-color: magenta;
    border: solid 10px purple;


    
}