* {
  margin: 0;
  font-family: Tahoma, serif;
  font-style: italic;
  box-sizing: border-box;
}

.body {
  background-color: rgb(173, 173, 173);
}

.header {
  color: maroon;
  text-transform: uppercase;
  padding: 20px 30px 0 30px;

  &__title {
    margin-bottom: 20px;
    border-bottom: solid 8px rgb(212, 183, 108);
    width: 450px;
  }
  &__form {
  }
  &__input {
    border: brown solid 0.5px;
    padding: 2px 5px;
  }
  &__button {
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      background-color: rgb(212, 183, 108);
      border-color: brown;
    }
  }
  &__reset {
    margin-top: 30px;
    border-radius: 50%;
    background-color: rgb(212, 183, 108);
    border-color: brown;
    cursor: pointer;
    &:hover {
      background-color: rgb(16, 150, 132);
    }
  }
}
.main {
  color: brown;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.favorites {
  &__titleFav {
    border: brown solid;
    background-color: white;
  }
  &__containerFav {
    background-color: rgba(216, 143, 168, 0.856);
    width: 35vw;
  }
}
.searchSeries {
  &__titleSearch {
    border: brown solid;
    background-color: white;
  }
  &__containerSeries {
    background-color: rgb(59, 105, 107);
    width: 50vw;
  }
}

// JAVASCRIPT

//Contenedor de favoritos (JS)
.js-favContainer {
  display: inline-block;
}
.js-favorites {
  padding: 30px;
  list-style: none;
}
.js-NewLi {
  margin-bottom: 20px;
}
.js-newImg {
  border: solid magenta 10px;
  width: 150px;
}
.js-NewTitle {
  border: solid purple;
  margin-bottom: 5px;
  background-color: cornsilk;
  text-transform: uppercase;
  width: 150px;
  margin: 0 auto;
}
.js-closeBtn {
  border-radius: 50%;
  background-color: rgb(218, 202, 162);
  color: brown;
  border-color: brown;
  cursor: pointer;
  &:hover {
    background-color: rgb(16, 150, 132);
  }
}

// Contenedor del buscador (JS)
.js-searchContainer {
}
.js-series {
  list-style: none;
  padding: 30px;
}

.js-li {
  margin: 0 10px 30px 10px;
}
.js-img {
  border: solid brown;
}
.js-title {
  color: black;
  border-bottom: solid brown;
  text-transform: uppercase;
}

// Añadir/quitar clase (JS)
.js-selected {
  background-color: rgb(212, 183, 108);
  border: solid 10px purple;
}
